extends layout

block content
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    div#loginDiv.wrapper
        form#loginForm
            p
                label(for='username') 用户名：
                input#username.username(type='text' placeholder='请输入你的用户名' name='username' autofocus)
            p
                label(for='password') 密码：
                input#password.password(type='password' name='password' placeholder='请输入你的密码')
        p
            button#login.login 登录
            button#register.register 注册
    div#registerDiv.wrapper
        form#registerFom
            p
                label(for='regusername') 用户名：
                input#regusername.username(type='text' placeholder='请输入你的用户名' name='regusername' autofocus)
            p
                label(for='regpassword1') 密码：
                input#regpassword1.password(type='password' name='regpassword1' placeholder='请输入你的密码')
            p
                label(for='regpassword2') 确认密码：
                input#regpassword2.password(type='password' name='regpassword2' placeholder='请再次输入你的密码')
        p
            button#finish.finish 完成
    script(src='/lib/requirejs.min.js' data-main='/javascripts/init')