.username, .password{
    position: absolute;
    left: 30%;
    width: 60%;
}

.login{
    width: 20%;
    margin-left: 30%;
}
.register{
    width: 20%;
    margin-left: 20%;
}

#registerDiv{
    display: none;
}